



body {
  font-family: Roboto;
  font-size: 16px;
}

h1.title {
    font-family: Roboto;
    font-size: 22pt;
}

h1 {
    font-family: Roboto;
    font-size: 15pt;
}

h2 {
    font-family: Roboto;
    font-size: 14pt;
}

h3 {
    font-family: Roboto;
    font-size: 13pt;
}


/* code styling */
pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    background: #f8f8f8;
    padding: 1em;
    overflow-x: auto;
}

code {
    background: #f9f9f9;
}

pre code {
    background: none;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
}
