



body {
  font-family: Carlito;
  font-size: 17.6px;
}

h1.title {
    font-family: Roboto;
    font-size: 22pt;
}

h1 {
    font-family: Roboto;
    font-size: 15pt;
}

h2 {
    font-family: Roboto;
    font-size: 14pt;
}

h3 {
    font-family: Roboto;
    font-size: 13pt;
}
